\problem{ {{ question_title | default("") }} }

{% if question_description_latex %}
{{ question_description_latex | fix_latex_filter }}
{% endif %}

{% for idx, sub_question in sub_questions %}
\subproblem{{ "*" if sub_question.starred else "" }}{ {{ sub_question.available_points }} }
{{ sub_question.question_text_latex | fix_latex_filter }}

\begin{solutionbox}[4cm]
{{ sub_question.question_answer_latex | fix_latex_filter }}
\end{solutionbox}

{% endfor %}

\newpage